.about {
    float: left;
    width: 32%;
    padding: 10px;
    text-align: left;
    border: 2px dashed black;
    margin: 10px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#pic3 {
    height: 150px;
}

.menu {
    background-color: pink;
    float: left;
    border: 2px dotted red;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}