.about {
    float: left;
    width: 32%;
    padding: 10px;
    text-align: left;
    border: 2px dashed black;
    margin: 10px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#pic3 {
    height: 150px;
}

.menu {
    background-color: rgb(132, 236, 13);
    float: left;
    border: 2px dotted red;
    padding: 10px;    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    body{
        background-color: black;
        color: deeppink;
    }

    .menu {
        background-color: rgb(226, 104, 226);
        float: right;
        padding-bottom: 10px;
    }
    
    .about {
        float: none;
        margin: auto;
        text-align: center;
        width: 75%;
    }
    
}